<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Shopping Mall Managment Sytem</title>
        <link rel="stylesheet" href="employee.css">
        <link rel="stylesheet" href="fontawesome\css\all.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>

        <!--wrapper start-->
        <div class="wrapper">
            <!--header menu start-->
            <div class="header">
                <div class="header-menu">
                    <div class="title">Shopping <span>Mall</span></div>
                    <div class="sidebar-btn">
                        <i class="fas fa-bars"></i>
                    </div> 
                    <ul>
                        <li><a  href="index.html"><i class="fas fa-home"></i></a></li>
                        <li><a href="#"><i class="fas fa-bell"></i></a></li>
                        
                        <form action="/logout" method="POST" class="d-inline">
                        <button class="fas fa-power-off login" ></button>
                            <!-- <li><i class="fas fa-power-off"></i></a></li> -->
                        </form>
                        <!-- <li><a href="/logout"><i class="fas fa-power-off"></i></a></li> -->
                    
                </div>
            </div>