  <!--sidebar start-->
  <div class="sidebar">
    <div class="sidebar-menu">
        <center class="profile">
            <img src="pic.jpg" alt="">
            <strong>Admin</strong>
        </center>
        <li class="item">
            <a href="tenantRegistration" class="menu-btn">
                <i class="fas fa-users"></i><span>Register Tenant</span>
            </a> 
        </li>
        <li class="item" id="room">
            <a href="/room" class="menu-btn">
                <i class="fas fa-door-closed"></i><span>Room<i class="fas fa-chevron-down drop-down"></i></span>
            </a>
            <div class="sub-menu">
                <a href="#"><i class="fas fa-door-closed"></i><span>View contracts</span></a>
                <a href="/room"><i class="fas fa-door-closed"></i><span>New contract</span></a>
            </div>
        </li>

        <li class="item" id="Contracts">
            <a href="#Contracts" class="menu-btn">
                <i class="fas fa-address-card"></i><span>Contracts<i class="fas fa-chevron-down drop-down"></i></span>
            </a>
            <div class="sub-menu">
                <a href="/allcontracts"><i class="fas fa-address-card"></i><span>View contracts</span></a>
                <a href="/contract"><i class="fas fa-address-card"></i><span>New contract</span></a>
            </div>
        </li>
        <li class="item" id="messages">
            <a href="#messages" class="menu-btn">
                <i class="fas fa-envelope"></i><span>Messages <i class="fas fa-chevron-down drop-down"></i></span>
            </a>
            <div class="sub-menu">
                <a href="#"><i class="fas fa-envelope"></i><span>New</span></a>
                <a href="#"><i class="fas fa-envelope-square"></i><span>Sent</span></a>
               
            </div>
        </li>

     
        <li class="item" id="Receipts">
            <a href="#Receipts" class="menu-btn">
                <i class="fas fa-cog"></i><span>Receipts <i class="fas fa-chevron-down drop-down"></i></span>
            </a>
            <div class="sub-menu">
                <a href="#"><i class="fas fa-lock"></i><span>View Receipts</span></a>
                <a href="/receipt"><i class="fas fa-language"></i><span>New Receipt</span></a>
            </div>
        </li>
        <li class="item" id="Expenses">
            <a href="#Expenses" class="menu-btn">
                <i class="fas fa-cart-plus"></i><span>Expenses <i class="fas fa-chevron-down drop-down"></i></span>
            </a>
            <div class="sub-menu">
                <a href="#"><i class="fas fa-lock"></i><span>View Expenses</span></a>
                <a href="/expense"><i class="fas fa-language"></i><span>New Expense</span></a>
            </div>
        </li>
        <li class="item">
            <a href="#" class="menu-btn">
                <i class="fas fa-info-circle"></i><span>Report</span>
            </a>
        </li>
    </div>
</div>