{{>Employee/header}}

<header>
    <div class="container">
        <div class="banner-text">
            <div class="text-area">
                <span>S</span>
                <span>M</span>
                <span>I</span>
                <span>M</span>
                <span>S</span>&nbsp;


            </div>

            <p>Wellcome To Shoping Mall Information Managment System </p>

            <p class="banner-btn">

                <a href="#" class="active">Add Information</a>
                <a href="#">Report</a>
            </p>

        </div>

    </div>
</header>