<%- include('includes/employee/header') %>
            <!--header menu end-->
<%- include('includes/employee/sidebar') %>

            <!--sidebar end-->

            <!--main container start-->
            <div class="main-container">
              
                <h1>Welcom To Admin page </h1>
            </div>
            <!--main container end-->
        </div>
        <!--wrapper end-->

        <script type="text/javascript">
        $(document).ready(function(){
            $(".sidebar-btn").click(function(){
                $(".wrapper").toggleClass("collapse");
            });
        });
        </script>

    </body>
</html>
                           