<%- include('includes/employee/header.ejs')  %>
<!--header menu end-->
<!--sidebar start-->
<%- include('includes/employee/sidebar.ejs')  %>
<!--sidebar end-->
<!--main container start-->

<div class="main-container">
              
    <form action="/expense" method="POST" class="main-form needs-validation" novalidate>
<div class="row">
 
    <% regErrors.forEach(function(message){%>
        <div class="alert alert-danger small"><%= message%></div>
    <%}) %>

<div class="form-group">
    <label for="Date">Date</label>
    <input type="Date" name="date" id="date" class="form-control" required>
</div>

<div class="form-group">
    <label class="lable col-md-3 control-label">Catagory</label>
    <select class=" form-control" name="catagory">
        <option value="salary">Salary</option>
        <option value="maintenance">Maintenance</option>
        <option value="water">Water</option>
        <option value="electricity">Electricity</option>
        <option value="miscellaneous">Miscellaneous</option>
    </select>
</div>

<div class="form-group">
    <label for="Description">Description</label>
    <input type="text" name="description" id="description" class="form-control">
</div>

<div class="form-group">
    <label for="Expense Amount">Expense Amount</label>
    <input type="Number" name="expenseAmount" id="expenseAmount" class="form-control">
</div>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"></script>

<script>
var form = document.querySelector('.needs-validation');

form.addEventListener('submit', function(event) {
 if (form.checkValidity() === false) {
     event.preventDefault();
     event.stopPropagation();
 }
 form.classList.add('was-validated');
})
</script>

   
 </div>
 <!--main container end-->
</div>
<!--wrapper end-->

<script type="text/javascript">
$(document).ready(function(){
 $(".sidebar-btn").click(function(){
     $(".wrapper").toggleClass("collapse");
 });
});
</script>

</body>
</html>
                