<%- include('includes/employee/header.ejs')  %> 
            <!--header menu end-->
            <!--sidebar start-->
<%- include('includes/employee/sidebar.ejs')  %> 
            <!--sidebar end-->
            <!--main container start-->
            <div class="main-container">
                <div class="roomHeader">Rooms</div>
                
                <form action="/room" method="POST" class="main-form needs-validation" novalidate>

                       
                    <% regErrors.forEach(function(message){%>
                        <div class="alert alert-danger small"><%= message%></div>
                    <%}) %>

       
         <div class="form-group">
            <label for="roomno">Room No</label>
            <input type="text" name="roomno" id="roomno" class="form-control" >
          
        </div>
          <div class="form-group">
            <label for="size">Room Size</label>
            <input type="text" name="roomsize" id="roomsize" class="form-control" >
           <!-- ?? <div class="invalid-feedback">Please enter a valid Room Size.</div> -->
        </div>
    
    <div class="form-group">
        <label class="lable col-md-3 control-label">Room Type</label>
        <select class=" form-control" name="roomtype">
            <option value="office">Office</option>
            <option value="shop">Shop</option>
            <option value="parking">Parking</option>
        </select>
  </div>
       
       
        <button  type="submit" class="btn btn-primary roomsubmit">Submit</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        var form = document.querySelector('.needs-validation');

        form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        })
    </script>
            </div>
            <!--main container end-->
        </div>
        <!--wrapper end-->

        <script type="text/javascript">
        $(document).ready(function(){
            $(".sidebar-btn").click(function(){
                $(".wrapper").toggleClass("collapse");
            });
        });
        </script>

    </body>
</html>
                           