<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Shopping Mall Managment Sytem</title>
        <link rel="stylesheet" href="employee.css">
        <link rel="stylesheet" href="fontawesome\css\all.min.css">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    </head>
    <body>

        <!--wrapper start-->
        <div class="wrapper">
            <!--header menu start-->
            <div class="header">
                <div class="header-menu">
                    <div class="title">Shopping <span>Mall</span></div>
                    <div class="sidebar-btn">
                        <i class="fas fa-bars"></i>
                    </div> 
                    <ul>
                        <li><a  href="index.html"><i class="fas fa-home"></i></a></li>
                        <li><a href="#"><i class="fas fa-bell"></i></a></li>
                        <li><a href="#"><i class="fas fa-power-off"></i></a></li>
                    </ul>
                </div>
            </div>
            <!--header menu end-->
            <!--sidebar start-->
             <div class="sidebar">
                <div class="sidebar-menu">
                    <center class="profile">
                        <img src="pic.jpg" alt="">
                        <p>Admin</p>
                    </center>
                    <li class="item">
                        <a href="/tenantRegistration" class="menu-btn">
                            <i class="fas fa-users"></i><span>Register Tenant</span>
                        </a>
                    </li>
                    <li class="item" id="Contracts">
                        <a href="#Contracts" class="menu-btn">
                            <i class="fas fa-address-card"></i><span>Contracts<i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="#"><i class="fas fa-address-card"></i><span>View contracts</span></a>
                            <a href="New contract.html"><i class="fas fa-address-card"></i><span>New contract</span></a>
                        </div>
                    </li>
                    <li class="item" id="messages">
                        <a href="#messages" class="menu-btn">
                            <i class="fas fa-envelope"></i><span>Messages <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="#"><i class="fas fa-envelope"></i><span>New</span></a>
                            <a href="#"><i class="fas fa-envelope-square"></i><span>Sent</span></a>
                           
                        </div>
                    </li>

                     <li class="item" id="Payment">
                        <a href="#Payment" class="menu-btn">
                            <i class="fas fa-address-card"></i><span>Payment<i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="#"><i class="fas fa-address-card"></i><span>View Payments</span></a>
                            <a href="new Payment.html"><i class="fas fa-address-card"></i><span>New Payment</span></a>
                        </div>
                    </li>


                    <li class="item" id="Receipts">
                        <a href="#Receipts" class="menu-btn">
                            <i class="fas fa-cog"></i><span>Receipts <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="#"><i class="fas fa-lock"></i><span>View Receipts</span></a>
                            <a href="New Receipt.html"><i class="fas fa-language"></i><span>New Receipt</span></a>
                        </div>
                    </li>
                    <li class="item" id="Expenses">
                        <a href="#Expenses" class="menu-btn">
                            <i class="fas fa-cart-plus"></i><span>Expenses <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="#"><i class="fas fa-lock"></i><span>View Expenses</span></a>
                            <a href="new expense.html"><i class="fas fa-language"></i><span>New Expense</span></a>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="menu-btn">
                            <i class="fas fa-info-circle"></i><span>Report</span>
                        </a>
                    </li>
                </div>
            </div>
            <!--sidebar end-->
            <!--main container start-->
            <div class="main-container">

                
                <form action="/room" method="POST" class="main-form needs-validation" novalidate>

                       
                    <% regErrors.forEach(function(message){%>
                        <div class="alert alert-danger small"><%= message%></div>
                    <%}) %>

       
        <div class="form-group">
            <label for="roomno">Room No</label>
            <input type="text" name="roomno" id="roomno" class="form-control" required>
          
        </div>
          <div class="form-group">
            <label for="size">Room Size</label>
            <input type="text" name="roomsize" id="roomsize" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid Room Size.</div>
        </div>
       
       
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        var form = document.querySelector('.needs-validation');

        form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        })
    </script>
            </div>
            <!--main container end-->
        </div>
        <!--wrapper end-->

        <script type="text/javascript">
        $(document).ready(function(){
            $(".sidebar-btn").click(function(){
                $(".wrapper").toggleClass("collapse");
            });
        });
        </script>

    </body>
</html>
                           